<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2"  parallel="tests">
 <test name="Test FF">
   <classes>
      <class name="com.jdpa.services.Controller"></class>
    </classes>
  </test>     
 <listeners>
 	<listener class-name="com.jdpa.reports.CustomListener"></listener>
 </listeners>
 </suite> 
